.secao-baralho {
  font-family: sans-serif;
  width: 100vw;
  height: 100%;
  text-align: center;
}

.area-cartas {
  padding: 40px 0 0 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.cartas {
  background-color: rgba(213, 224, 224, 0.644);
  border: 0.1ch solid rgba(46, 43, 43, 0.281);
  border-radius: 1.0em;
  font-family: sans-serif;
  height: 420px;
  margin: 0;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.carta-super {
  background-color: rgba(213, 224, 224, 0.644);
  border: 0.1ch solid #f96565;
  border-radius: 1.0em;
  font-family: sans-serif;
  height: 420px;
  margin: 0;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.textos-card {
  align-items: center;
  color: #4B4A4B;
  font-size: 17px;
  font-weight: 600;
  max-width: 300px;
  padding-left: 5px;
  text-align: center;
}

.top-text {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 10%;
  color: #152222;
}

#custo-card-colecao {
  background-image: url('../Images/custo.png');
  background-size: cover;
  background-position: 40px;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: inherit;
}

#nome-card-colecao {
  width: 480px;
}

#rare-card-colecao {
  text-align: center;
  width: 80px;
}

#img-attr-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.imagem {
  background-color: transparent;
  outline: none;
  border-radius: 1em;
}

.secao-attr-colecao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#attr1-card-colecao, #attr2-card-colecao, #attr3-card-colecao {
  border-radius: 3em;
  border-style: none;
  border:#7D7C7C solid 0.2ch;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
}

#descricao-colecao {
  border-style: none;
  line-height: 15px;
  background-color: transparent;
  resize: none;
  text-align: center;
}

#descricao-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  max-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#botao-excluir{
  font-size: 15px;
  height: 30px;
  width: 100%;
  border-style: none;
  background-color: #F96565;
  border-radius: 1ch;
  color: #4B4A4B;
}

#botao-excluir:hover {
  color: #f5f0f5;
}

#trunfo-card {
  color: #f96565;
  font-weight: 600;
  font-size: 20px;
}

#logo-card {
  color: #4B4A4B;
  font-weight: 600;
  font-size: 18px;
}
