.form-total {
  width: 400px;
}

.formulario {
  height: 430px;
  align-items: center;
  background-color: rgba(213, 224, 224, 0.644);
  border-radius: 1.0em;
  color: #4B4A4B;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  width: 90%;
}

#top-section-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#custo-area {
  border:#a6a6a6 solid 0.3ch;
  border-radius: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#custo-input {
  width: 20px;
  height: 35px;
  background-color: transparent;
  outline-style: none;
  text-align: center;
  border: none;
  color: #4B4A4B;
  font-size: 16px;
}

#name-input {
  font-size: 15px;
  height: 40px;
  text-align: center;
  width: 150px;
  border-radius: 5em;
  background-color: transparent;
  outline-style: none;
  border: #a6a6a6 solid 0.3ch;
  color: #152222;
}

.secao-raridade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-raridade-check-form {
  width: 80px;
  font-size: 16px;
}

#select-form-raridade {
  font-size: 16px;
  height: 25px;
  text-align: center;
  width: 85px;
  border-radius: 5em;
  background-color: transparent;
  border: #a6a6a6 solid 0.3ch;
  color: #4B4A4B;
}


#img-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
}

#image-input {
  height: 35px;
  width: 170px;
  font-size: 16px;
  text-align: center;
  border-radius: 5em;
  background-color: transparent;
  outline-style: none;
  border: #a6a6a6 solid 0.3ch;
  color: #152222;
}

#upload-img-label{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 115px;
  height: 35px;
  outline-style: none;
  border-radius: 3em;
  border: #a6a6a6 solid 0.3ch;
  color: #152222;
}

#title-status {
  padding-bottom: 5px;
  color: #152222;
}

.number-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

#attr-area {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#attr1-area, #attr2-area, #attr3-area {
  border-radius: 3em;
  border-style: none;
  border:#a6a6a6 solid 0.3ch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.input-form-n {
  font-size: 15px;
  text-align: center;
  width: 30px;
  background-color: transparent;
  color: #4B4A4B;
  outline-style: none;
  border-style: none;
}

.input-form-n-max {
  font-size: 15px;
  text-align: center;
  width: 30px;
  background-color: transparent;
  color: #F96565;
  border-style: none;
  outline-style: none;
}

.input-form-max {
  font-size: 15px;
  height: 35px;
  text-align: center;
  width: 320px;
  border-radius: 3em;
  background-color: transparent;
  border-bottom: #8b0404 solid 0.3ch;
  outline-style: none;
  color: #4B4A4B;
  animation: treme 0.1s;
  animation-iteration-count: 3;
}

@keyframes treme {
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
}

#descricao-input {
  resize: none;
  font-size: 15px;
  height: 95px;
  text-align: center;
  width: 320px;
  border-radius: 1em;
  background-color: transparent;
  border: #a6a6a6 solid 0.3ch;
  outline-style: none;
  color: #152222;
}

#descricao-input:focus {
  border-radius: 1em;
  background-color: transparent;
  border: #F96565 solid 0.3ch;
  outline-style: none;
  color: #4B4A4B;
}

.texto-raridade-check-form, .texto-trunfo {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.secao-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-check-trunfo {
  height: 22px;
  width: 30px;
}

#name-input:focus,
.input-form-max:focus,
#image-input:focus,
.select-form-raridade:focus,
.input-check-trunfo {
  border-radius: 3em;
  border:#F96565 solid 0.3ch;
}

#checkbox-save {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 25px;
}

#botao-salvar-off {
  font-size: 20px;
  height: 35px;
  width: 110px;
}

#botao-salvar-on {
  color: #152222;
  font-size: 18px;
  height: 35px;
  width: 110px;
  border-style: none;
  border-bottom:#F96565 solid 0.1cm;
  border-radius: 0.5ch;
  background-color: #F6E9EE;
}
