.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 10px 0 10px 0;
 background-color: #F96565 
}

#mid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F6E9EE;
  font-size: 18px;
  width: 105px;
}

#ir-baralho {
  background-color: transparent;
  color: #F6E9EE;
  border-style: none;
  font-size: 18px;
}

#ir-baralho:hover {
  background-color: transparent;
  color: #4B4A4B;
  border-style: none;
  font-size: 18px;
  transform: scale(1.1);
  transition: 0.5s;
}

#logo-card-area{
  align-items: center;
  display: flex;
  width: 45%;
}

#logo-text {
  white-space: nowrap;
  overflow: hidden;
  color: #F6E9EE;
  animation: aaa 2s steps(12) 1s normal both;
  border-right: 0.1ch rgb(81, 85, 85) solid;
  font-size: 18px;
}

@keyframes aaa {
  from {
    width: 0;
  }
  to {
    width: 118px;
    border-right: 0 rgb(81, 85, 85) solid;
  };
}

#logo-text:hover {
  align-items: center;
  display: flex;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.87);
}

.header-icon {
  padding-bottom: 8px;
}

#botao-area {
  width: 50%;
}

.botao-baralho {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100vw;
}