.MainPage-geral{
  background-color: #fed8d8;
  /* background-color: #F6E9EE; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-e-preview-e-botoes{
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#form-e-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}


