a {
  color: #ffff;
}

.menu-geral {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-deck {
  display: flex;
  flex-direction: column;
  height: 270px;
  align-items: center;
  background-color: #fed8d8;
  border-radius: 1em;
  padding: 35px;
  justify-content: space-around;
}

#form-create-deck {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 170px;
  color: #4b4a4b;
}

#input-name-deck {
  border-radius: 0.8em;
  height: 30px;
  width: 290px;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: solid 0.1cm #f96565;
}

#botoes-form-menu {
display: flex;
flex-direction: column;
justify-content: space-around;
height: 90px;
}

#botoes-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 150px;
}

#botao-iniciar-criacao,
#botao-criar-baralho-menu,
#ir-decks-menu,
#ir-colecao-menu {
  background-color: #f96565;
  color: #ffff;
  border: none;
  border-radius: 1em;
  padding: 5px;
  font-size: 18px;
  width: 300px;
  height: 40px;
  cursor: pointer;
}

#botao-criar-baralho-menu:hover,
a:hover {
  color: #4b4a4b;
}

/* #botao-iniciar-criacao {
  background-color: #f96565;
  color: #4b4a4b;
  border: none;
  border-radius: 1em;
  padding: 5px;
  font-size: 20px;
  width: 150px;
} */