.menu-geral {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-deck {
  display: flex;
  flex-direction: column;
  height: 270px;
  align-items: center;
  background-color: #fed8d8;
  border-radius: 1em;
  padding: 35px;
  justify-content: space-around;
}

#form-create-deck {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 150px;
  color: #4b4a4b;
}

#input-name-deck {
  border-radius: 1em;
  height: 20px;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: solid 0.1cm #f96565;
}

#botoes-form-menu {
display: flex;
flex-direction: column;
justify-content: space-around;
height: 80px;
}

#botoes-menu {
  display: flex;
  
}

#botao-criar-baralho-menu, #ir-decks-menu {
  background-color: #f96565;
  color: #4b4a4b;
  border: none;
  border-radius: 1em;
  padding: 5px;
  font-size: 20px;
  width: 150px;
}

#botao-iniciar-criacao {
  background-color: #f96565;
  color: #4b4a4b;
  border: none;
  border-radius: 1em;
  padding: 5px;
  font-size: 20px;
  width: 150px;
}