a {
  text-decoration: none;
}

.search-area {
  display: flex;
}

#area-filtro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.labels {
  color: whitesmoke;
}

#input-nome {
  text-align: center;
  font-size: 15px;
  width: 230px;
  height: 2.5ch;
  margin-right: 1ch;
  margin-left: 1ch;
  border-radius: 1ch;
  border-style: none;
  color: #F96565;
  background-color: #F6E9EE;
}

#select-raridade {
  background-color: #F6E9EE;
  text-align: center;
  font-size: 15px;
  height: 3ch;
  width: 160px;
  margin-left: 1ch;
  margin-right: 1ch;
  border-radius: 1ch;
  border-style: none;
  color: #F96565;
}

.header-clicked-on {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}

#label-busca {
  color: aliceblue;
}

#logo-card-search-on {
  align-items: center;
  display: flex;
  justify-content: left;
  color: #F6E9EE;
  font-size: 18px;
  width: 12%;
}

#logo-icon-on {
padding-bottom: 10px;
}

#logo-text-search-on {
  color: #F6E9EE;
  white-space: nowrap;
  overflow: hidden;
  animation: aaa 2s steps(12) 1s normal both;
  border-right: 0.1ch rgb(81, 85, 85) solid;
}

#logo-text-on:hover {
  color: rgb(221, 219, 219);
  transition: 0.5s;
}

@keyframes aaa {
  from {
    width: 0;
  }
  to {
    width: 100px;
    border-right: 0 rgb(81, 85, 85) solid;
  };
}

.header-clicked-off{
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

#links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

#pesquisa {
  background-color: transparent;
  color: #F6E9EE;
  border-style: none;
  font-size: 18px;
}

#pesquisa:hover {
  align-items: center;
  display: flex;

  background-color: transparent;
  color: rgb(214, 214, 214);
  border-style: none;
  font-size: 18px;
  transform: scale(1.1);
  transition: 0.5s;
}

#botao-voltar {
  background-color: transparent;
  color: #F6E9EE;
  border-style: none;
  font-size: 18px;
}

#botao-voltar:hover {
  background-color: transparent;
  color: rgb(214, 214, 214);
  border-style: none;
  font-size: 18px;
  transform: scale(1.1);
  transition: 0.1s;
}

#logo-card-search-off {
  align-items: center;
  display: flex;
  justify-content: left;
  width: 11%;
}

#logo-text-search-off:hover {
  color: rgb(214, 214, 214);
  transition: 0.5s;
}

#logo-text-search-off {
  white-space: nowrap;
  overflow: hidden;
  color: #F6E9EE;
  font-size: 18px;
  animation: aaa 2s steps(12) 1s normal both;
  border-right: 0.1ch rgb(81, 85, 85) solid;
}

@keyframes aaa {
  from {
    width: 0;
  }
  to {
    width: 150px;
    border-right: 0 rgb(81, 85, 85) solid;
  };
}

#logo-icon-search-off {
  padding-bottom: 10px;
}

#area-botao-on {
  width: fit-content;
}